.container {
    background-color: mediumspringgreen;
    width: 1000px;
    height: 1000px;
    margin: 30px 0px 0px 30px;

    display: flex;
    flex-wrap: wrap;
}

.top {
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: space-evenly;
    width: 500px;
}

.prompt {
    border: 1px solid black;
    border-radius: 5px;
    width: 100px;
    margin: 0px 30px;
}

.default {
    border: 1px solid black;
    /* height and width = 1000 / userinput */
}